$tarawera: #073C53
$mystic: #EBF0F2
$saffron-mango: rgba(#FBBD61, .75)
$green-darner-tail: #74b9ff

$black: $tarawera
$white: $mystic
$whiter: lighten($mystic, 5%)
$accent: $saffron-mango
$accent-alt: $green-darner-tail

$font-family: 'Bellota Text', sans-serif