.project
    display: grid
    padding: 2.5rem
    background-color: $whiter
    border-radius: $border-radius
    grid-template-columns: 100%
    grid-template-areas: 'right' 'left' 'additional'
    grid-gap: 2rem
    color: $black

    &.text-only
        grid-template-areas: 'content'

        & > div
            grid-area: 'content'
    
    &.has-lead-in
        grid-template-areas: 'lead-in' 'right' 'left' 'additional'

    .lead-in
        grid-area: lead-in
        border-bottom: $border-width solid $white
        padding: 0 0 1.75em 0
        line-height: 1.75

        p:not(:first-of-type)
            margin-top: 1em

    &.featured:not(:last-of-type)
        margin-bottom: 2.5rem

    h4
        position: relative
        text-transform: uppercase
        font-family: $font-family
        font-weight: 300
        margin-bottom: .25rem
        font-size: .8rem
        z-index: 2

    p
        margin: 0
    
    .left
        grid-area: left
    
    .right
        +tablet
            margin: 0

        +desktop
            margin-right: -15%

        +widescreen
            margin-right: -25%

        grid-area: right
        margin: -2.5rem -2.5rem 0 -2.5rem

        *
            +tablet
                border-radius: calc($border-radius * 2)

            box-shadow: 10px 10px 80px $black-a1
            border-radius: $border-radius $border-radius 0 0
        
        > div
            &::before
                content: ''
                position: absolute
                width: 100%
                height: 100%
                top: 0
                left: 0
                z-index: 5
                background-color: $dark
                mix-blend-mode: screen
                transition: all .25s ease
        
            &:hover::before
                background: transparent
    
    .additional
        grid-area: additional
        border-top: $border-width solid $white
        padding: 1.75em 0
        
    .left, .inner
        display: grid
        grid-template-rows: repeat(99, max-content) 1fr

        .info
            text-transform: uppercase
            cursor: not-allowed

    .actions
        margin-top: 2rem
        grid-row: last

.slideUp
    &.project
        transition: transform .2s ease
        will-change: transform

    &:hover
        transform: translateY(-5px) scale(1.025)

+tablet
    .project
        &.featured
            grid-template-columns: 50% calc(50% - 2rem)
            grid-template-areas: 'left right' 'additional additional'
        
            &.has-lead-in
                grid-template-areas: 'lead-in lead-in' 'left right' 'additional additional'

        &.flipped
            grid-template-areas: 'right left' 'additional additional'

            &.has-lead-in
                grid-template-areas: 'lead-in lead-in' 'right left' 'additional additional'
        
        &.has-lead-in
            grid-template-areas: 'lead-in lead-in' 'additional additional'

+desktop
    .project
        &.featured
            grid-template-columns: 40% calc(60% - 2rem)