.project
    display: grid
    padding: 2.5rem
    background-color: $whiter
    grid-template-columns: 100%
    grid-template-areas: 'right' 'left' 'additional'
    grid-gap: 2rem

    &.featured:not(:last-of-type)
        margin-bottom: 2.5rem

    h4
        position: relative
        text-transform: uppercase
        font-family: $font-family
        font-weight: 300
        margin-bottom: .2rem
        font-size: .8rem
        z-index: 2

    p
        margin: 0
    
    .left
        grid-area: left
    
    .right
        grid-area: right
    
    .additional
        grid-area: additional
        
    .left, .inner
        display: grid
        grid-template-rows: repeat(99, max-content) 1fr

        .info
            text-transform: uppercase
            cursor: not-allowed

    .actions
        margin-top: 2rem
        grid-row: last

+tablet
    .project
        &.featured
            grid-template-columns: 50% calc(50% - 2rem)
            grid-template-areas: 'left right' 'additional additional'

        &.flipped
            grid-template-areas: 'right left' 'additional additional'

+desktop
    .project
        &.featured
            grid-template-columns: 40% calc(60% - 2rem)