@import '../assets/sass/01-abstracts/abstracts'

.nav
    margin-bottom: 3rem

.projects
    display: grid
    grid-template-columns: 100%
    grid-gap: 1.25rem

+desktop
    .other_projects
        width: 120%
        margin-left: -10%
        color: $black

    .projects
        grid-template-columns: repeat(3, 1fr)
    
    .project:hover
        transform: translateY(3px)